// See: https://sass-lang.com/

#map {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1000;
  filter: invert(1) blur(1.1px);
}

main {
  position: relative;
  height: 100vh;
}

nav {
  background-color: black;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
}

.flex {
  padding: 0.1vh 0.1vw;
  width: 100%;
}


/* FROM Tweeter */
.map-grid {
  background-color: transparent;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  color:whitesmoke;
  padding: 1em;
  border: 3px solid #fff;
  border-radius: 15px;
  margin: 1.5em;
}
.map-grid *:hover {
  text-shadow:1px 0px 2px cyan, 0px 1px 2px cyan, -1px 0px 2px cyan, 0px -1px 2px cyan;
}

.map-grid span.map-name {
  font-weight: 700;
  font-size:2.5em;
  position: relative;
  bottom: 0.25em;
}
.map-grid span.user-handle{
  margin: 1.5em 0;
}

article.map-grid a{
  display: inline-block;
  margin-top:2em;
  padding-right: 1em;
  color:white;
}

