// See: https://sass-lang.com/

body, h1, h2, .h3, h4, h5, h6 {
  background-color: transparent;
  color: #fff;
}

#map {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1000;
  filter: invert(1) blur(1.1px);
}

main {
  position: relative;
  height: 100vh;
}

table, .table {
  color: white;
  text-align: center;
  border: none;
}
