// See: https://sass-lang.com/

body {
  background-color: transparent;

}

#map {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1000;
}

#bg_map {
  background-color: rgba(0, 0, 0, 150);
  filter: invert(1);
  width: 100%;
  height: 100%;
  position: absolute;
}
main {
  position: relative;
  height: 100vh;
}
